--extra-index-url https://download.pytorch.org/whl/cpu

send2trash==1.8.3
APScheduler==3.11.0
bidict==0.23.1
blinker==1.9.0
certifi==2025.7.14
cffi==1.17.1
charset-normalizer==3.4.2
click==8.2.1
colorama==0.4.6
cryptography==45.0.5
Flask==3.1.1
Flask-SocketIO==5.5.1
flask-cors>=4.0.0
h11==0.16.0
idna==3.10
influxdb-client==1.49.0
itsdangerous==2.2.0
Jinja2==3.1.6
Markdown==3.8.2
markdown-it-py==3.0.0
MarkupSafe==3.0.2
matplotlib==3.10.5
mdurl==0.1.2
packaging==25.0
paho-mqtt==2.1.0
Pillow==11.3.0
protobuf==5.29.5
pycparser==2.22
Pygments==2.19.2
PyJWT==2.10.1
python-dateutil==2.9.0.post0
python-dotenv==1.1.1
python-engineio==4.12.2
python-socketio==5.13.0
pytz==2025.2
reactivex==4.0.4
redis==6.2.0
reportlab==4.4.3
requests==2.32.4
rich==14.1.0
setuptools==80.9.0
simple-websocket==1.1.0
six==1.17.0
termcolor==3.1.0
typing_extensions==4.14.1
tzdata==2025.2
tzlocal==5.3.1
urllib3==2.5.0
Werkzeug==3.1.3
wheel==0.45.1
wrapt==1.17.2
wsproto==1.2.0
gunicorn==22.0.0
pandas==2.2.0
openpyxl


# PyTorch (CPU 전용)

# auto find cpu vision from extra url
torch==2.8.0
torchvision==0.23.0


# 이미지 처리

Pillow==11.3.0